@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="StyleSheet" type="text/css" href="StyleSheet.css">
    </head>
    <body>
         <div id="topmenu">     
           <div id="topmenu_items">       
                <a href="startPage.cshtml">Home</a>
                <a href="complaints.cshtml">Complaints</a>
                <a href="feedback.cshtml">Feedback</a>
           </div>                 
       </div>
    </body>
</html>
