@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="StyleSheet" type="text/css" href="StyleSheet_startpage.css">
    </head>
    <body>
        <div id="topmenu1">     
           <div id="topmenu_items1">       
                <a href="startPage.cshtml">Home</a>
                <a href="complaints.cshtml">Complaints</a>
                <a href="feedback.cshtml">Feedback</a>
           </div>                 
       </div>
        <h1>Thank you for your feedback</h1>
    </body>
</html>
