@{
    var db1 = Database.Open("complaintsdb");
    
    if(IsPost){
        var thiscomplaint = Request["complaint_text"];
        var thisname=Request["name"];
        var thisdepartment=Request["department"];
        var thismailid=Request["email"];
        var insert="INSERT INTO complaints(usercomplaint,email,name,department) VALUES(@0,@1,@2,@3)";
        db1.Execute(insert,thiscomplaint,thismailid,thisname,thisdepartment);
        Response.Redirect(@Href("complaintsubmitted.cshtml"));

    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Complaints and Feedback</title>
        <link rel="StyleSheet" type="text/css" href="StyleSheet.css">
    </head>
    <body>
             
       <div id="topmenu">     
           <div id="topmenu_items">       
                <a href="startPage.cshtml">Home</a>
                <a href="#">about</a>
                <a href="#">something</a>
           </div>                 
       </div>
        <form method="post">
            <ul id="feedback_form">                
               <li> 
                   <label>Name:*</label>
                   <div id="formwrap"><input id="list_field" autofocus="true" required name="name"> </div>
               </li>
               <li> 
               <label>Email:</label>
                   <div id="formwrap">
                   <input id="list_field" type="email" name="email">
                   </div>
               </li>
               <li> Address to:*
                  <div id=" formwrap"> 
                       <select id="list_field" class="options" name="department">
                         <option value="IT">IT</option>
                         <option value="CSE">CSE</option>
                         <option value="MECH">Mechanical</option>
                         <option value="CIVIL">Civil</option>
                         <option value="EEE">EEE</option>
                         <option value="ECE">ECE</option>
                         <option value="S&H">S&H</option>                 
                        </select>
                  </div>
                 </li>
                <li>
                <label>Complaint:*</label>                
               <div id=" formwrap"> <textarea placeholder="your complaint here" required name="complaint_text"></textarea></div>
                </li>
              
                <li><div id="formwrap"><button id="submit" type="submit">Send</button></div></li>
          
        </ul>
            </form>

    </body>
</html>

